:root{
    background-color: rgb(63, 110, 180);
}
.portada {
    width:50rem;
}
.personajes{
    width: 50%;
}
h1{
    color: 
    rgb(255, 255, 255);
}
h2{
    color: blanchedalmond;
}
p{
    color: rgb(66, 190, 184);
}