:root {
    background-image: url("https://imag.malavida.com/mvimgbig/download-fs/mlbb-magic-core-39272-2.jpg");
background-size: cover;}

#img1 {
    width: 50%;
    height: auto;
}

#img2 {
    width: 50%;
    height: auto;

}

#img3 {
    width: 50%;
    height: auto;

}

#img4 {
    width: 50%;
    height: auto;
}

#img5 {
    width: 50%;
    height: auto;
}